/* Global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  #search-results {
    font-family: 'Lato', 'Open Sans', sans-serif;
    color: #444444f3;
   /* display: none;*/
  }
  
  .no-display {
    display: none;
  }

  /* Cards */
  .posts-box {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 10px;
    text-align: center;
    list-style: none;
  }
  
  .posts-box li {
    display: inline-block;
    width: 320px;
    max-width: 100%;
    padding: 10px;
    vertical-align: top;
  }
  
  .card {
    text-align: left;
    border-radius: 2px;
    background: #FFFFFF;
    box-shadow:
      0 2px 4px rgba(0,0,0,0.10),
      0 1px 2px rgba(0,0,0,0.22);
  }
  
  .card img {
    display: block;
    width: 100%;
  }
  
  .card div {
    padding: 16px 20px;
    border-bottom: 1px solid #EEEEEE;
  }
  
  .card div h3 {
    margin: 8px 0;
    font-size: .9em;
  }
  
  .card div p {
    margin: 8px 0;
    font-size: .9em;
  }
  
  .button {
    color: #d7385180;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
  }
  
  .button:hover {
    opacity: .7;
  }

  .description {
    font-weight: lighter;
  }
  
  
  /* Page */
  .modal,
  .modal-box {
    z-index: 900;
  }
  
  .modal-sandbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
  }
  
  .modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #d738506c;
    overflow: auto;
  }
  
  .modal-box {
    position: relative;
    width: 80%;
    max-width: 920px;
    margin: 100px auto;
    background: #FFFFFF;
    animation-name: modalbox;
    animation-duration: .3s;
    animation-timing-function: ease-out;
  }
  
  .modal-header img {
    width: 100%;
  }
  
  .modal-body {
    padding: 60px 8%;
  }
  
  .modal-body h2 {
    margin-bottom: 30px;
    letter-spacing: .06em;
  }
  
  .modal-body p {
    font-size: .9em;
    line-height: 1.5em;
  }
  
  @-webkit-keyframes modalbox {
    0% {
      top: -250px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  @keyframes modalbox {
    0% {
      top: -250px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  
  button {
    min-width: 120px;
    top: 50%;
    left: 50%;
    padding: 16px 32px;
    margin: 24px 8px 0 0;
    background: transparent;
    text-decoration: none;
    border: 1px solid #d7385180;
    outline: none;
    color: #360c1280;
    cursor: pointer;
  }
  
  .disabled {
    opacity: .4;
    cursor: auto;
  }
  
  @media (max-width: 620px) {
    button {
      width: 100%;
      min-width: auto;
    }
  }
  